@import url("https://fonts.google.com/specimen/Overpass");

:root {
  --primary: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --LowBlue: hsla(216, 12%, 54%, 0.1);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--VeryDarkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Header*/
header {
  background-color: var(--DarkBlue);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .buttons {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  background-color: transparent;
  border: none;
}
.icons {
  height: 30px;
  color: var(--primary);
}
.sideIcons {
  width: 40px;
  height: 25px;
}
.sideIcons:hover {
  color: var(--primary);
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post {
  width: 90%;
  margin-top: 20px;
  display: flex;
  height: 130px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.post .input {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.input textarea {
  resize: none;
  width: 80%;
  height: 100%;
  background-color: var(--LowBlue);
  border: 1px solid var(--LightGrey);
  border-radius: 10px;
  color: var(--White);
  font-size: 20px;
  padding-left: 20px;
}
.send {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
}
.send button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: var(--White);
  background-color: var(--LowBlue);
  border: 2px solid var(--primary);
}
.send button:hover {
  color: var(--White);
  background-color: var(--primary);
  border: none;
}
.send button:disabled,
.send button[disabled] {
  color: var(--White);
  background-color: var(--DarkBlue);
  border: 2px solid var(--MediumGrey);
}

.posticons {
  color: white;
  height: 20px;
}
.posticons:hover {
  color: var(--primary);
}

.thoughts {
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
}

.thoughts hr {
  width: 100%;
  border: 1px var(--LightGrey);
  border-style: groove;
}

.container {
  background-color: var(--DarkBlue);
  max-width: 100%;
  width: 500px;
  margin-top: 20px;
  border-radius: 17px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.656);
}

.text {
  max-width: 350px;
  padding: 18px;
  border-radius: 17px;
  margin: 0 auto;
  height: auto;
  color: var(--MediumGrey);
}

.text a {
  font-weight: 600;
  display: block;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.text p {
  padding: 1em 0 0 0;
  color: var(--LightGrey);
}

.state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.votes {
  display: flex;
  align-items: center;
}
.votechange{
  display: flex;
  flex-direction: column;
}
.votechange button{
  background-color: transparent;
  border:none;
}
.vote{
  margin: 1px;
  height: 20px;
}
.vote:hover{
  color: var(--primary);
}
.days {
  display: flex;
  align-items: center;
}
.votes p {
  color: var(--MediumGrey);
  font-weight: 400;
  padding-left: 7px;
  padding-top: 0px;
}

.days p {
  color: var(--White);
  padding-top: 0px;
  padding-left: 7px;
}

.author {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.author p {
  padding-top: 0;
  padding-left: 7px;
  margin-left: 20px;
}
.author .name:hover {
  color: var(--primary);
  cursor: pointer;
}
.btns{
  display: flex;
  flex-direction:row-reverse;
}
.edit{
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: var(--White);
  background-color: var(--LowBlue);
  border: 2px solid var(--primary);
}
.edit:hover{
  color: var(--White);
  background-color: var(--primary);
  border: none;
}
.edit:disabled,
.edit[disabled]{
  color: var(--White);
  background-color: var(--DarkBlue);
  border: 2px solid var(--MediumGrey);
}
.delete{
  /* background-color: aliceblue; */
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.delete p{
  color: var(--primary);
  margin-right: 20px;
}
.delete p:hover{
  color: var(--VeryDarkBlue);
  cursor: pointer;
}
/*Edit screen*/

.edit-input{
  width: 90%;
  height: 100px;
  resize: none;
  background-color: var(--LowBlue);
  border: 1px solid var(--LightGrey);
  border-radius: 10px;
  color: var(--White);
  font-size: 20px;
  padding-left: 20px;
}
.input-parent{
  /* background-color: aliceblue; */
  width: 100%;
  display: flex;
  justify-content: center;
}